@import "tailwindcss";

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../public/BaiJamjuree-Regular.ttf');
}
@font-face {
    font-family: 'Bruno Ace';
    src: url('../public/BrunoAce-Regular.ttf');
}
@theme {
    --font-bai: 'Bai Jamjuree', sans-serif;
    --font-bruno: 'Bruno Ace', sans-serif;
}